@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.bg-img{
    background-image: url("../image/anya-forger-2.webp");
}